<!DOCTYPE html>
<html>
    <head>
        <title>Pason Internal Status Hub</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/ejs@3.0.1/ejs.min.js" crossorigin="anonymous" type="text/javascript"></script>
        <script src="/javascript/statusview.js" type="text/javascript"></script>
    </head>
    <body>
        <time id="refresh-time"></time>
        <div id="status-information">
        </div>
    </body>
</html>
