.orange {
  background-color: #ff6600;
}
.green {
  background-color: #33cc33;
}

.red {
  background-color: #cc2900;
}

.gray-bg {
  background-color: #919191;
}

.gray {
  color: #919191;
}

.pad-y {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pad-top {
  padding-top: 1em;
}

.inner {
  padding: 1.5em;
}

.group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.inline {
  display: flex;
  justify-content: space-evenly;
}

.last-updated {
  float: right;
}

.groups {
}

.status-chart {
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 0.15em;
}
